/* main section start */
.main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main .recent-post,
.main .recommend-post {
  width: 45%;
}
.main .text {
  margin-bottom: 20px;
}

/* main section end */

@media (max-width: 800px) {
  .main {
    display: block;
  }

  .main .recent-post,
  .main .recommend-post {
    width: 100%;
  }
}
